
<div class="span9">
<h1>Upcoming Elections
<%= link_to "CSV", elections_path(format: "csv"), :class => "btn btn-success pull-right"%>
</h1>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Info</th>
      <th>Source</th>
      <th>Updated</th>
    </tr>

  <% @elections.each do |election| %>
    <tr>
      <td><%= election.start_date.strftime(format = '%b %e, %Y') %></td>
      <td><%= info(election) %></td>
      <td><%= link_to truncate(election.source), election.source %></td>
      <td><%= election.updated_at.strftime(format = '%b %e') %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class = "span3">
  <a class="twitter-timeline" href="https://twitter.com/comingelections/elections" data-widget-id="337208167597473792">Tweets from @comingelections/elections</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>