<!-- @todo Coming elections facet by province and level of gov? -->
<div class="col-sm-9">
  <h1>
    Upcoming Elections
    <%= link_to 'CSV', elections_path(format: 'csv'), class: 'btn btn-primary pull-right' %>
  </h1>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Election</th>
        <th>Source</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <% @elections.each do |election| %>
        <tr>
          <td>
            <%=l election.start_date, format: :short %>
            <% if election.scheduled %>
            <span class="label label-default">Scheduled</span>
            <% end %>
          </td>
          <td>
            <p>
              <strong><%= election.jurisdiction %></strong>
              <%= election.election_type %>
              <% if election.division? %>
                in <strong><%= election.division %></strong>
              <% end %>
              <% if election.scope? %>
                (<%= election.scope %><% if election.notes? && election.scope != election.notes %>: <%= election.notes %><% end %>)
              <% end %>
            </p>
          </td>
          <td><%= link_to URI.parse(election.source).host, election.source %></td>
          <td><%=l election.updated_at.to_date, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-3 hidden-xs">
  <a class="twitter-timeline" href="https://twitter.com/comingelections/elections" data-widget-id="337208167597473792">Tweets from @comingelections/elections</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
