<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @election.year %>
</p>

<p>
  <b>Start date:</b>
  <%= @election.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @election.end_date %>
</p>

<p>
  <b>Jurisdiction:</b>
  <%= @election.jurisdiction %>
</p>

<p>
  <b>Election type:</b>
  <%= @election.election_type %>
</p>

<p>
  <b>:</b>
  <%= @election. %>
</p>

<p>
  <b>Division:</b>
  <%= @election.division %>
</p>

<p>
  <b>Notes:</b>
  <%= @election.notes %>
</p>

<p>
  <b>Source:</b>
  <%= @election.source %>
</p>

<p>
  <b>Updated at:</b>
  <%= @election.updated_at %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
