<h1>Upcoming Elections</h1>
<div class="span6">
    <table class="table table-striped">
      <tr>
        <th>Year</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Jurisdiction</th>
        <th>Election type</th>
        <th>Scope</th>
        <th>Division</th>
        <th>Notes</th>
        <th>Source</th>
        <th>Updated at</th>
      </tr>

    <% @elections.each do |election| %>
      <tr>
        <td><%= election.year %></td>
        <td><%= election.start_date %></td>
        <td><%= election.end_date %></td>
        <td><%= election.jurisdiction %></td>
        <td><%= election.election_type %></td>
        <td><%= election.scope %></td>
        <td><%= election.division %></td>
        <td><%= election.notes %></td>
        <td><%= election.source %></td>
        <td><%= election.updated_at %></td>
      </tr>
    <% end %>
    </table>
</div>