<div class="span9">
<h1>Scheduled Elections</h1>
  <table class="table table-striped">

    <tr>
      <th>Jurisdiction</th>
      <th>Rule</th>
      <th>Last election</th>
      <th>Next election</th>
      <th>Source</th>
    </tr>
  <% @election_schedules.each do |election| %>
    <tr>
      <td><%= election.jurisdiction%></td>
      <td><%= schedule_info(election) %></td>
      <td><%= election.last_election.strftime(format = '%b %e, %Y') %></td>
      <td><%= election.next_election.strftime(format = '%b %e, %Y') %></td>
      
      <td><%= link_to truncate(ElectionSchedule::SOURCE), ElectionSchedule::SOURCE %></td>
    </tr>
    <tr>
 
    
  <% end %>
  </table>
</div>
<div class = "span3">
  <a class="twitter-timeline" href="https://twitter.com/comingelections/elections" data-widget-id="337208167597473792">Tweets from @comingelections/elections</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

