<div class="span9">
<h1>Scheduled Elections</h1>
  <table class="table table-striped">


  <% @election_schedules.each do |election| %>
    <tr>
      <th><%= election.jurisdiction%></th>
      <th><%= schedule_info(election) %></th>
      <th><%= election.last_election.strftime(format = '%b %e, %Y') %></td>
      
      <th><%= link_to truncate(ElectionSchedule::SOURCE), ElectionSchedule::SOURCE %></td>
      <th><%= election.updated_at.strftime(format = '%b %e') %></th>
    </tr>
    <tr>
      <th>Future Dates</th>
      <th></th><th></th><th></th><th></th>
    </tr>
    <% election.elections_until(2050).each do |date| %>
    <tr>
      <td><%= date.strftime(format= '%b %e, %Y')%></td>
      <th></th><th></th><th></th><th></th>
    </tr>
    <% end %>



  <% end %>
  </table>
</div>
