<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Coming Elections" %></title>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
<![endif]-->
<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>

<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <span class="brand"><%= link_to 'Coming Elections' , root_path %></span>
      <ul class = "nav pull-right">
        <li><%= link_to 'scheduled', scheduled_path %></li>
      </ul>
      
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
<%= bootstrap_flash %>
<%= yield %>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
